## Example for INP File Reader

In [1]:
from swmm_api.input_file import read_inp_file, InpSection
from swmm_api.input_file.inp_sections import labels as sections
from swmm_api.input_file.inp_sections import Outfall

Read der ``.inp``-file
the ``inp`` object is like a dictionary

In [2]:
inp = read_inp_file('epaswmm5_apps_manual/Example7-Final.inp')

Get the Options as a dictionary

In [3]:
inp[sections.OPTIONS]

{'FLOW_UNITS': 'CMS',
 'INFILTRATION': 'HORTON',
 'FLOW_ROUTING': 'DYNWAVE',
 'LINK_OFFSETS': 'DEPTH',
 'MIN_SLOPE': 0,
 'ALLOW_PONDING': False,
 'SKIP_STEADY_STATE': False,
 'START_DATE': datetime.date(2007, 1, 1),
 'START_TIME': datetime.time(0, 0),
 'REPORT_START_DATE': datetime.date(2007, 1, 1),
 'REPORT_START_TIME': datetime.time(0, 0),
 'END_DATE': datetime.date(2007, 1, 1),
 'END_TIME': datetime.time(12, 0),
 'SWEEP_START': '01/01',
 'SWEEP_END': '12/31',
 'DRY_DAYS': 0,
 'REPORT_STEP': datetime.time(0, 1),
 'WET_STEP': datetime.time(0, 1),
 'DRY_STEP': datetime.time(1, 0),
 'ROUTING_STEP': '0:00:15',
 'RULE_STEP': datetime.time(0, 0),
 'INERTIAL_DAMPING': 'PARTIAL',
 'NORMAL_FLOW_LIMITED': 'SLOPE',
 'FORCE_MAIN_EQUATION': 'H-W',
 'VARIABLE_STEP': 0.75,
 'LENGTHENING_STEP': 0,
 'MIN_SURFAREA': 0,
 'MAX_TRIALS': 0,
 'HEAD_TOLERANCE': 0,
 'SYS_FLOW_TOL': 5,
 'LAT_FLOW_TOL': 5,
 'MINIMUM_STEP': 0.5,
 'THREADS': 1}

to convert a section to a string, use the ``.to_inp()`` method

In [4]:
print(inp[sections.REPORT].to_inp())

INPUT          YES
SUBCATCHMENTS  ALL
NODES          ALL
LINKS          ALL

to convert a section to a pandas-dataframe, use the ``.frame`` property method

this is only possible for sections with a table-like structure (i.e. not for OPTIONS, REPORT, ...)

In [5]:
inp[sections.SUBCATCHMENTS].frame

      RainGage Outlet  Area  Imperv  Width  Slope  CurbLen  SnowPack
Name
S1    RainGage   Aux1  4.55    56.8   1587    2.0        0       NaN
S2    RainGage   Aux2  4.74    63.0   1653    2.0        0       NaN
S3    RainGage   Aux3  3.74    39.5   1456    3.1        0       NaN
S4    RainGage     J7  6.79    49.9   2331    3.1        0       NaN
S5    RainGage    J10  4.79    87.7   1670    2.0        0       NaN
S6    RainGage    J11  1.98    95.0    690    2.0        0       NaN
S7    RainGage    J10  2.33     0.0    907    3.1        0       NaN

now you can combine all connected subcatchment data to a single dataframe

In [6]:
inp[sections.SUBCATCHMENTS].frame.join(inp[sections.SUBAREAS].frame).join(inp[sections.INFILTRATION].frame)

,RainGage,Outlet,Area,Imperv,Width,Slope,CurbLen,SnowPack,N_Imperv,N_Perv,...,S_Perv,PctZero,RouteTo,PctRouted,MaxRate,MinRate,Decay,DryTime,MaxInf,kind
Name,,,,,,,,,,,,,,,,,,,,,
S1,RainGage,Aux1,4.55,56.8,1587,2.0,0,NaN,0.015,0.24,...,0.3,25,OUTLET,100,4.5,0.2,6.5,7,0,NaN
S2,RainGage,Aux2,4.74,63.0,1653,2.0,0,NaN,0.015,0.24,...,0.3,25,OUTLET,100,4.5,0.2,6.5,7,0,NaN
S3,RainGage,Aux3,3.74,39.5,1456,3.1,0,NaN,0.015,0.24,...,0.3,25,OUTLET,100,4.5,0.2,6.5,7,0,NaN
S4,RainGage,J7,6.79,49.9,2331,3.1,0,NaN,0.015,0.24,...,0.3,25,OUTLET,100,4.5,0.2,6.5,7,0,NaN
S5,RainGage,J10,4.79,87.7,1670,2.0,0,NaN,0.015,0.24,...,0.3,25,OUTLET,100,4.5,0.2,6.5,7,0,NaN
S6,RainGage,J11,1.98,95.0,690,2.0,0,NaN,0.015,0.24,...,0.3,25,OUTLET,100,4.5,0.2,6.5,7,0,NaN
S7,RainGage,J10,2.33,0.0,907,3.1,0,NaN,0.015,0.24,...,0.3,25,OUTLET,100,4.5,0.2,6.5,7,0,NaN

single sections are build like a dict

In [7]:
inp[sections.OUTFALLS]

{'O1': Outfall(Name = "O1", Elevation = 4956, Type = "FREE", Data = NaN, FlapGate = False, RouteTo = NaN)}

In [8]:
inp[sections.OUTFALLS]['O1']

Outfall(Name = "O1", Elevation = 4956, Type = "FREE", Data = NaN, FlapGate = False, RouteTo = NaN)

you can get and edit single values of objects

In [9]:
inp[sections.OUTFALLS]['O1'].Elevation

4956

... and you can add new objects, or even build the whole model in python

In [10]:
inp[sections.OUTFALLS].append(Outfall('O2', Elevation=4999, Type=Outfall.Types.FREE))
inp[sections.OUTFALLS].frame

      Elevation  Type  Data  FlapGate  RouteTo
Name
O1         4956  FREE   NaN     False      NaN
O2         4999  FREE   NaN     False      NaN

or even build the whole model in python

In [11]:
inp[sections.OUTFALLS] = InpSection(Outfall)
inp[sections.OUTFALLS].append(Outfall('O1', Elevation=1234, Type=Outfall.Types.FREE))
inp[sections.OUTFALLS].append(Outfall('O2', Elevation=689, Type=Outfall.Types.FREE))
inp[sections.OUTFALLS].frame

      Elevation  Type  Data  FlapGate  RouteTo
Name
O1         1234  FREE   NaN     False      NaN
O2          689  FREE   NaN     False      NaN

to convert a section with multiple dataframe to pandas-dataframes, use the ``.frame`` property method

this is only possible for sections with a multi-table-like structure (i.e.TIMESERIES, CURVES ...)

this will return a pandas.Series (TIMESERIES) or pandas.DataFrame (CURVES)

In [12]:
timeseries = inp[sections.TIMESERIES]['100-yr'].frame
timeseries

0:00    1.00
0:05    1.14
0:10    1.33
0:15    2.23
0:20    2.84
0:25    5.49
0:30    9.95
0:35    4.12
0:40    2.48
0:45    1.46
0:50    1.22
0:55    1.06
1:00    1.00
1:05    0.95
1:10    0.91
1:15    0.87
1:20    0.84
1:25    0.81
1:30    0.78
1:35    0.75
1:40    0.73
1:45    0.71
1:50    0.69
1:55    0.67
Name: 100-yr, dtype: float64

if you want to delete sections, you can do that in a pythonic way

In [13]:
print('Before')
print(inp.keys())
del inp[sections.TRANSECTS]
print('After')
print(inp.keys())

Before
dict_keys(['TITLE', 'OPTIONS', 'EVAPORATION', 'RAINGAGES', 'SUBCATCHMENTS', 'SUBAREAS', 'INFILTRATION', 'JUNCTIONS', 'OUTFALLS', 'CONDUITS', 'XSECTIONS', 'TRANSECTS', 'TIMESERIES', 'REPORT', 'TAGS', 'MAP', 'COORDINATES', 'VERTICES', 'POLYGONS', 'SYMBOLS', 'LABELS', 'BACKDROP'])
After
dict_keys(['TITLE', 'OPTIONS', 'EVAPORATION', 'RAINGAGES', 'SUBCATCHMENTS', 'SUBAREAS', 'INFILTRATION', 'JUNCTIONS', 'OUTFALLS', 'CONDUITS', 'XSECTIONS', 'TIMESERIES', 'REPORT', 'TAGS', 'MAP', 'COORDINATES', 'VERTICES', 'POLYGONS', 'SYMBOLS', 'LABELS', 'BACKDROP'])