## Example for OUT File Reader

In [1]:
from swmm_api import read_out_file, SwmmOutput

In [2]:
out = read_out_file('epaswmm5_apps_manual/Example7-Final.out')

Is equal to:

In [3]:
out = SwmmOutput('epaswmm5_apps_manual/Example7-Final.out')

In [4]:
out.variables

{'subcatchment': ['rainfall',
  'snow_depth',
  'evaporation',
  'infiltration',
  'runoff',
  'groundwater_outflow',
  'groundwater_elevation',
  'soil_moisture'],
 'node': ['depth',
  'head',
  'volume',
  'lateral_inflow',
  'total_inflow',
  'flooding'],
 'link': ['flow', 'depth', 'velocity', 'volume', 'capacity'],
 'pollutant': [],
 'system': ['air_temperature',
  'rainfall',
  'snow_depth',
  'infiltration',
  'runoff',
  'dry_weather_inflow',
  'groundwater_inflow',
  'RDII_inflow',
  'direct_inflow',
  'lateral_inflow',
  'flooding',
  'outflow',
  'volume',
  'evaporation',
  'PET']}

In [5]:
out.labels

{'subcatchment': ['S1', 'S2', 'S3', 'S4', 'S5', 'S6', 'S7'],
 'node': ['J1',
  'J2a',
  'J2',
  'J3',
  'J4',
  'J5',
  'J6',
  'J7',
  'J8',
  'J9',
  'J10',
  'J11',
  'Aux1',
  'Aux2',
  'Aux3',
  'O1'],
 'link': ['C2a',
  'C2',
  'C3',
  'C4',
  'C5',
  'C6',
  'C7',
  'C8',
  'C9',
  'C10',
  'C11',
  'C_Aux1',
  'C_Aux2',
  'C_Aux1to2',
  'C_Aux3',
  'P1',
  'P2',
  'P3',
  'P4',
  'P5',
  'P6',
  'P7',
  'P8'],
 'pollutant': [],
 'system': ['']}

In [6]:
out.number_columns

282

In [7]:
type(out.to_numpy())

numpy.ndarray

In [8]:
# get all data as pandas.DataFrame
out.to_frame()

                    subcatchment                                      \
                              S1
                        rainfall snow_depth evaporation infiltration
2007-01-01 00:01:00         1.00        0.0         0.0      0.43200
2007-01-01 00:02:00         1.00        0.0         0.0      0.43200
2007-01-01 00:03:00         1.00        0.0         0.0      0.43200
2007-01-01 00:04:00         1.00        0.0         0.0      0.43200
2007-01-01 00:05:00         1.14        0.0         0.0      0.49248
...                          ...        ...         ...          ...
2007-01-01 11:56:00         0.00        0.0         0.0      0.00000
2007-01-01 11:57:00         0.00        0.0         0.0      0.00000
2007-01-01 11:58:00         0.00        0.0         0.0      0.00000
2007-01-01 11:59:00         0.00        0.0         0.0      0.00000
2007-01-01 12:00:00         0.00        0.0         0.0      0.00000

                                                                         \

                       runoff groundwater_outflow groundwater_elevation
2007-01-01 00:01:00  0.088076                 0.0                   0.0
2007-01-01 00:02:00  0.233792                 0.0                   0.0
2007-01-01 00:03:00  0.368483                 0.0                   0.0
2007-01-01 00:04:00  0.531651                 0.0                   0.0
2007-01-01 00:05:00  0.973276                 0.0                   0.0
...                       ...                 ...                   ...
2007-01-01 11:56:00  0.000000                 0.0                   0.0
2007-01-01 11:57:00  0.000000                 0.0                   0.0
2007-01-01 11:58:00  0.000000                 0.0                   0.0
2007-01-01 11:59:00  0.000000                 0.0                   0.0
2007-01-01 12:00:00  0.000000                 0.0                   0.0

                                                       ...             system  \
                                        S2             ...
                    soil_moisture rainfall snow_depth  ... dry_weather_inflow
2007-01-01 00:01:00           0.0     1.00        0.0  ...                0.0
2007-01-01 00:02:00           0.0     1.00        0.0  ...                0.0
2007-01-01 00:03:00           0.0     1.00        0.0  ...                0.0
2007-01-01 00:04:00           0.0     1.00        0.0  ...                0.0
2007-01-01 00:05:00           0.0     1.14        0.0  ...                0.0
...                           ...      ...        ...  ...                ...
2007-01-01 11:56:00           0.0     0.00        0.0  ...                0.0
2007-01-01 11:57:00           0.0     0.00        0.0  ...                0.0
2007-01-01 11:58:00           0.0     0.00        0.0  ...                0.0
2007-01-01 11:59:00           0.0     0.00        0.0  ...                0.0
2007-01-01 12:00:00           0.0     0.00        0.0  ...                0.0

                                                                  \

                    groundwater_inflow RDII_inflow direct_inflow
2007-01-01 00:01:00                0.0         0.0           0.0
2007-01-01 00:02:00                0.0         0.0           0.0
2007-01-01 00:03:00                0.0         0.0           0.0
2007-01-01 00:04:00                0.0         0.0           0.0
2007-01-01 00:05:00                0.0         0.0           0.0
...                                ...         ...           ...
2007-01-01 11:56:00                0.0         0.0           0.0
2007-01-01 11:57:00                0.0         0.0           0.0
2007-01-01 11:58:00                0.0         0.0           0.0
2007-01-01 11:59:00                0.0         0.0           0.0
2007-01-01 12:00:00                0.0         0.0           0.0

                                                                               \

                    lateral_inflow flooding   outflow      volume evaporation
2007-01-01 00:01:00       0.563977      0.0  0.003971   14.105279         0.0
2007-01-01 00:02:00       1.466747      0.0  0.022646   57.129456         0.0
2007-01-01 00:03:00       2.281808      0.0  0.085892  158.937866         0.0
2007-01-01 00:04:00       3.297160      0.0  0.287618  309.448669         0.0
2007-01-01 00:05:00       6.085905      0.0  0.730127  536.387329         0.0
...                            ...      ...       ...         ...         ...
2007-01-01 11:56:00       0.000000      0.0  0.000612    8.957918         0.0
2007-01-01 11:57:00       0.000000      0.0  0.000610    8.935231         0.0
2007-01-01 11:58:00       0.000000      0.0  0.000608    8.912636         0.0
2007-01-01 11:59:00       0.000000      0.0  0.000605    8.890132         0.0
2007-01-01 12:00:00       0.000000      0.0  0.000603    8.867590         0.0



                     PET
2007-01-01 00:01:00  0.0
2007-01-01 00:02:00  0.0
2007-01-01 00:03:00  0.0
2007-01-01 00:04:00  0.0
2007-01-01 00:05:00  0.0
...                  ...
2007-01-01 11:56:00  0.0
2007-01-01 11:57:00  0.0
2007-01-01 11:58:00  0.0
2007-01-01 11:59:00  0.0
2007-01-01 12:00:00  0.0

[720 rows x 282 columns]

In [10]:
# get a specific part of the out data as pandas.Series
out.get_part(OBJECTS.NODE, 'J1', 'head').to_frame()

                     node/J1/head
2007-01-01 00:01:00   4969.000000
2007-01-01 00:02:00   4969.001953
2007-01-01 00:03:00   4969.026855
2007-01-01 00:04:00   4969.064941
2007-01-01 00:05:00   4969.108887
...                           ...
2007-01-01 11:56:00   4969.001465
2007-01-01 11:57:00   4969.001465
2007-01-01 11:58:00   4969.001465
2007-01-01 11:59:00   4969.001465
2007-01-01 12:00:00   4969.001465

[720 rows x 1 columns]

In [11]:
from swmm_api.output_file import VARIABLES, OBJECTS
out.get_part(OBJECTS.NODE, 'J1', VARIABLES.NODE.HEAD).to_frame()

                     node/J1/head
2007-01-01 00:01:00   4969.000000
2007-01-01 00:02:00   4969.001953
2007-01-01 00:03:00   4969.026855
2007-01-01 00:04:00   4969.064941
2007-01-01 00:05:00   4969.108887
...                           ...
2007-01-01 11:56:00   4969.001465
2007-01-01 11:57:00   4969.001465
2007-01-01 11:58:00   4969.001465
2007-01-01 11:59:00   4969.001465
2007-01-01 12:00:00   4969.001465

[720 rows x 1 columns]

In [12]:
# to get all data of a node, just remove the variable part
out.get_part(OBJECTS.NODE, 'J1')

,depth,head,volume,lateral_inflow,total_inflow,flooding
2007-01-01 00:01:00,0.000000,4969.000000,0.0,0.0,0.000000,0.0
2007-01-01 00:02:00,0.002062,4969.001953,0.0,0.0,0.001879,0.0
2007-01-01 00:03:00,0.026991,4969.026855,0.0,0.0,0.019385,0.0
2007-01-01 00:04:00,0.064753,4969.064941,0.0,0.0,0.063515,0.0
2007-01-01 00:05:00,0.109040,4969.108887,0.0,0.0,0.138886,0.0
...,...,...,...,...,...,...
2007-01-01 11:56:00,0.001290,4969.001465,0.0,0.0,0.000057,0.0
2007-01-01 11:57:00,0.001286,4969.001465,0.0,0.0,0.000057,0.0
2007-01-01 11:58:00,0.001282,4969.001465,0.0,0.0,0.000057,0.0
2007-01-01 11:59:00,0.001278,4969.001465,0.0,0.0,0.000056,0.0
2007-01-01 12:00:00,0.001275,4969.001465,0.0,0.0,0.000056,0.0