## Example for INP File Reader

In [15]:
from swmm_api.input_file import read_inp_file, InpSection
from swmm_api.input_file.inp_sections import labels as sections
from swmm_api.input_file.inp_sections import Outfall

Read der ``.inp``-file

the ``inp`` object is like a dictionary

In [16]:
inp = read_inp_file('epaswmm5_apps_manual/Example7-Final.inp')

Get the Options as a dictionary

In [17]:
inp[sections.OPTIONS]

{'FLOW_UNITS': 'CFS',
 'INFILTRATION': 'HORTON',
 'FLOW_ROUTING': 'DYNWAVE',
 'START_DATE': datetime.date(2007, 1, 1),
 'START_TIME': datetime.time(0, 0),
 'REPORT_START_DATE': datetime.date(2007, 1, 1),
 'REPORT_START_TIME': datetime.time(0, 0),
 'END_DATE': datetime.date(2007, 1, 1),
 'END_TIME': datetime.time(12, 0),
 'SWEEP_START': '01/01',
 'SWEEP_END': '12/31',
 'DRY_DAYS': 0,
 'REPORT_STEP': datetime.time(0, 1),
 'WET_STEP': datetime.time(0, 1),
 'DRY_STEP': datetime.time(1, 0),
 'ROUTING_STEP': '0:00:15',
 'ALLOW_PONDING': False,
 'INERTIAL_DAMPING': 'PARTIAL',
 'VARIABLE_STEP': 0.75,
 'LENGTHENING_STEP': 0,
 'MIN_SURFAREA': 0,
 'NORMAL_FLOW_LIMITED': 'SLOPE',
 'SKIP_STEADY_STATE': False,
 'FORCE_MAIN_EQUATION': 'H-W',
 'LINK_OFFSETS': 'DEPTH',
 'MIN_SLOPE': 0}

Another way to get sections is to call them like an attribute

In [18]:
inp.OPTIONS

{'FLOW_UNITS': 'CFS',
 'INFILTRATION': 'HORTON',
 'FLOW_ROUTING': 'DYNWAVE',
 'START_DATE': datetime.date(2007, 1, 1),
 'START_TIME': datetime.time(0, 0),
 'REPORT_START_DATE': datetime.date(2007, 1, 1),
 'REPORT_START_TIME': datetime.time(0, 0),
 'END_DATE': datetime.date(2007, 1, 1),
 'END_TIME': datetime.time(12, 0),
 'SWEEP_START': '01/01',
 'SWEEP_END': '12/31',
 'DRY_DAYS': 0,
 'REPORT_STEP': datetime.time(0, 1),
 'WET_STEP': datetime.time(0, 1),
 'DRY_STEP': datetime.time(1, 0),
 'ROUTING_STEP': '0:00:15',
 'ALLOW_PONDING': False,
 'INERTIAL_DAMPING': 'PARTIAL',
 'VARIABLE_STEP': 0.75,
 'LENGTHENING_STEP': 0,
 'MIN_SURFAREA': 0,
 'NORMAL_FLOW_LIMITED': 'SLOPE',
 'SKIP_STEADY_STATE': False,
 'FORCE_MAIN_EQUATION': 'H-W',
 'LINK_OFFSETS': 'DEPTH',
 'MIN_SLOPE': 0}

But be aware that this is only for getting sections. You can't create objects like this.

In [19]:
inp.keys()

dict_keys(['TITLE', 'OPTIONS', 'EVAPORATION', 'RAINGAGES', 'SUBCATCHMENTS', 'SUBAREAS', 'INFILTRATION', 'JUNCTIONS', 'OUTFALLS', 'CONDUITS', 'XSECTIONS', 'TRANSECTS', 'LOSSES', 'TIMESERIES', 'REPORT', 'TAGS', 'MAP', 'COORDINATES', 'VERTICES', 'POLYGONS', 'SYMBOLS', 'LABELS', 'BACKDROP'])

In [20]:
sections.POLLUTANTS

'POLLUTANTS'

In [21]:
from swmm_api.input_file.inp_sections import Pollutant
inp.POLLUTANTS = InpSection(Pollutant)
inp.POLLUTANTS.append(Pollutant('test', Pollutant.UNITS.MG_PER_L, 0,0,0, 0))

In [22]:
inp.POLLUTANTS

{'test': Pollutant(Name = "test", Units = "MG/L", Crain = 0.0, Cgw = 0.0, Crdii = 0.0, Kdecay = 0.0, SnowOnly = False, Co_Pollutant = "*", Co_Frac = 0.0, Cdwf = 0.0, Cinit = 0.0)}

In [23]:
sections.POLLUTANTS in inp

False

In [24]:
inp[sections.POLLUTANTS] = InpSection(Pollutant)
inp.POLLUTANTS.append(Pollutant('test_NEU', Pollutant.UNITS.MG_PER_L, 0,0,0, 0))

In [25]:
sections.POLLUTANTS in inp

True

In [26]:
inp.POLLUTANTS

{'test_NEU': Pollutant(Name = "test_NEU", Units = "MG/L", Crain = 0.0, Cgw = 0.0, Crdii = 0.0, Kdecay = 0.0, SnowOnly = False, Co_Pollutant = "*", Co_Frac = 0.0, Cdwf = 0.0, Cinit = 0.0)}

to convert a section to a string, use the ``.to_inp_lines()`` method

In [27]:
print(inp[sections.OPTIONS].to_inp_lines())

FLOW_UNITS           CFS
INFILTRATION         HORTON
FLOW_ROUTING         DYNWAVE
START_DATE           01/01/2007
START_TIME           00:00:00
REPORT_START_DATE    01/01/2007
REPORT_START_TIME    00:00:00
END_DATE             01/01/2007
END_TIME             12:00:00
SWEEP_START          01/01
SWEEP_END            12/31
DRY_DAYS             0
REPORT_STEP          00:01:00
WET_STEP             00:01:00
DRY_STEP             01:00:00
ROUTING_STEP         0:00:15
ALLOW_PONDING        NO
INERTIAL_DAMPING     PARTIAL
VARIABLE_STEP        0.75
LENGTHENING_STEP     0
MIN_SURFAREA         0
NORMAL_FLOW_LIMITED  SLOPE
SKIP_STEADY_STATE    NO
FORCE_MAIN_EQUATION  H-W
LINK_OFFSETS         DEPTH
MIN_SLOPE            0

to convert a section to a pandas-dataframe, use the ``.frame`` property method

this is only possible for sections with a table-like structure (i.e. not for OPTIONS, REPORT, ...)

In [28]:
for label, obj in inp[sections.SUBCATCHMENTS].items():
    print(f'"{label}": {obj},')

"S1": SubCatchment(Name = "S1", RainGage = "RainGage", Outlet = "Aux1", Area = 4.55, Imperv = 56.8, Width = 1587.0, Slope = 2.0, CurbLen = 0.0, SnowPack = NaN),
"S2": SubCatchment(Name = "S2", RainGage = "RainGage", Outlet = "Aux2", Area = 4.74, Imperv = 63.0, Width = 1653.0, Slope = 2.0, CurbLen = 0.0, SnowPack = NaN),
"S3": SubCatchment(Name = "S3", RainGage = "RainGage", Outlet = "Aux3", Area = 3.74, Imperv = 39.5, Width = 1456.0, Slope = 3.1, CurbLen = 0.0, SnowPack = NaN),
"S4": SubCatchment(Name = "S4", RainGage = "RainGage", Outlet = "J7", Area = 6.79, Imperv = 49.9, Width = 2331.0, Slope = 3.1, CurbLen = 0.0, SnowPack = NaN),
"S5": SubCatchment(Name = "S5", RainGage = "RainGage", Outlet = "J10", Area = 4.79, Imperv = 87.7, Width = 1670.0, Slope = 2.0, CurbLen = 0.0, SnowPack = NaN),
"S6": SubCatchment(Name = "S6", RainGage = "RainGage", Outlet = "J11", Area = 1.98, Imperv = 95.0, Width = 690.0, Slope = 2.0, CurbLen = 0.0, SnowPack = NaN),
"S7": SubCatchment(Name = "S7", RainGage = "RainGage", Outlet = "J10", Area = 2.33, Imperv = 0.0, Width = 907.0, Slope = 3.1, CurbLen = 0.0, SnowPack = NaN),

In [44]:
print(inp[sections.SUBCATCHMENTS].to_inp_lines())

;;      RainGage Outlet  Area Imperv Width Slope CurbLen SnowPack
;;Name
S1      RainGage   Aux1  4.55   56.8  1587     2       0
S2      RainGage   Aux2  4.74     63  1653     2       0
S3      RainGage   Aux3  3.74   39.5  1456   3.1       0
S4      RainGage     J7  6.79   49.9  2331   3.1       0
S5      RainGage    J10  4.79   87.7  1670     2       0
S6      RainGage    J11  1.98     95   690     2       0
S7      RainGage    J10  2.33      0   907   3.1       0

In [29]:
inp[sections.SUBCATCHMENTS].frame

      RainGage Outlet  Area  Imperv   Width  Slope  CurbLen  SnowPack
Name
S1    RainGage   Aux1  4.55    56.8  1587.0    2.0      0.0       NaN
S2    RainGage   Aux2  4.74    63.0  1653.0    2.0      0.0       NaN
S3    RainGage   Aux3  3.74    39.5  1456.0    3.1      0.0       NaN
S4    RainGage     J7  6.79    49.9  2331.0    3.1      0.0       NaN
S5    RainGage    J10  4.79    87.7  1670.0    2.0      0.0       NaN
S6    RainGage    J11  1.98    95.0   690.0    2.0      0.0       NaN
S7    RainGage    J10  2.33     0.0   907.0    3.1      0.0       NaN

now you can combine all connected subcatchment data to a single dataframe

In [30]:
inp[sections.SUBCATCHMENTS].frame.join(inp[sections.SUBAREAS].frame).join(inp[sections.INFILTRATION].frame)

,RainGage,Outlet,Area,Imperv,Width,Slope,CurbLen,SnowPack,N_Imperv,N_Perv,...,S_Perv,PctZero,RouteTo,PctRouted,MaxRate,MinRate,Decay,DryTime,MaxInf,kind
Name,,,,,,,,,,,,,,,,,,,,,
S1,RainGage,Aux1,4.55,56.8,1587.0,2.0,0.0,NaN,0.015,0.24,...,0.3,25.0,OUTLET,100.0,4.5,0.2,6.5,7.0,0.0,NaN
S2,RainGage,Aux2,4.74,63.0,1653.0,2.0,0.0,NaN,0.015,0.24,...,0.3,25.0,OUTLET,100.0,4.5,0.2,6.5,7.0,0.0,NaN
S3,RainGage,Aux3,3.74,39.5,1456.0,3.1,0.0,NaN,0.015,0.24,...,0.3,25.0,OUTLET,100.0,4.5,0.2,6.5,7.0,0.0,NaN
S4,RainGage,J7,6.79,49.9,2331.0,3.1,0.0,NaN,0.015,0.24,...,0.3,25.0,OUTLET,100.0,4.5,0.2,6.5,7.0,0.0,NaN
S5,RainGage,J10,4.79,87.7,1670.0,2.0,0.0,NaN,0.015,0.24,...,0.3,25.0,OUTLET,100.0,4.5,0.2,6.5,7.0,0.0,NaN
S6,RainGage,J11,1.98,95.0,690.0,2.0,0.0,NaN,0.015,0.24,...,0.3,25.0,OUTLET,100.0,4.5,0.2,6.5,7.0,0.0,NaN
S7,RainGage,J10,2.33,0.0,907.0,3.1,0.0,NaN,0.015,0.24,...,0.3,25.0,OUTLET,100.0,4.5,0.2,6.5,7.0,0.0,NaN

single sections are build like a dict

In [31]:
inp[sections.OUTFALLS]

{'O1': Outfall(Name = "O1", Elevation = 4956.0, Type = "FREE", Data = NaN, FlapGate = False, RouteTo = NaN)}

In [32]:
inp[sections.OUTFALLS]['O1']

Outfall(Name = "O1", Elevation = 4956.0, Type = "FREE", Data = NaN, FlapGate = False, RouteTo = NaN)

you can get and edit single values of objects

In [33]:
inp[sections.OUTFALLS]['O1'].Elevation

4956.0

In [34]:
inp.OUTFALLS['O1'].Elevation

4956.0

... and you can add new objects, or even build the whole model in python

In [35]:
inp[sections.OUTFALLS].append(Outfall('O2', Elevation=4999, Type=Outfall.TYPES.FREE))
inp[sections.OUTFALLS].frame

      Elevation  Type  Data  FlapGate  RouteTo
Name
O1       4956.0  FREE   NaN     False      NaN
O2       4999.0  FREE   NaN     False      NaN

or even build the whole model in python

In [36]:
inp[sections.OUTFALLS] = InpSection(Outfall)
inp[sections.OUTFALLS].append(Outfall('O1', Elevation=1234, Type=Outfall.TYPES.FREE))
inp[sections.OUTFALLS].append(Outfall('O2', Elevation=689, Type=Outfall.TYPES.FREE))
inp[sections.OUTFALLS].frame

      Elevation  Type  Data  FlapGate  RouteTo
Name
O1       1234.0  FREE   NaN     False      NaN
O2        689.0  FREE   NaN     False      NaN

In [37]:
inp[sections.OUTFALLS] = Outfall.create_section()
inp[sections.OUTFALLS].append(Outfall('O1', Elevation=4321, Type=Outfall.TYPES.FREE))
inp[sections.OUTFALLS].append(Outfall('O2', Elevation=987, Type=Outfall.TYPES.FREE))
inp[sections.OUTFALLS].frame

      Elevation  Type  Data  FlapGate  RouteTo
Name
O1       4321.0  FREE   NaN     False      NaN
O2        987.0  FREE   NaN     False      NaN

to convert a section with multiple dataframe to pandas-dataframes, use the ``.frame`` property method

this is only possible for sections with a multi-table-like structure (i.e.TIMESERIES, CURVES ...)

this will return a pandas.Series (TIMESERIES) or pandas.DataFrame (CURVES)

In [38]:
timeseries = inp[sections.TIMESERIES]['100-yr'].frame
timeseries

0:00    1.00
0:05    1.14
0:10    1.33
0:15    2.23
0:20    2.84
0:25    5.49
0:30    9.95
0:35    4.12
0:40    2.48
0:45    1.46
0:50    1.22
0:55    1.06
1:00    1.00
1:05    0.95
1:10    0.91
1:15    0.87
1:20    0.84
1:25    0.81
1:30    0.78
1:35    0.75
1:40    0.73
1:45    0.71
1:50    0.69
1:55    0.67
Name: 100-yr, dtype: float64

if you want to delete sections, you can do that in a pythonic way

In [39]:
inp.keys()

dict_keys(['TITLE', 'OPTIONS', 'EVAPORATION', 'RAINGAGES', 'SUBCATCHMENTS', 'SUBAREAS', 'INFILTRATION', 'JUNCTIONS', 'OUTFALLS', 'CONDUITS', 'XSECTIONS', 'TRANSECTS', 'LOSSES', 'TIMESERIES', 'REPORT', 'TAGS', 'MAP', 'COORDINATES', 'VERTICES', 'POLYGONS', 'SYMBOLS', 'LABELS', 'BACKDROP', 'POLLUTANTS'])

In [40]:
print('Before')
print(inp.keys())
del inp[sections.TRANSECTS]
print('After')
print(inp.keys())

Before
dict_keys(['TITLE', 'OPTIONS', 'EVAPORATION', 'RAINGAGES', 'SUBCATCHMENTS', 'SUBAREAS', 'INFILTRATION', 'JUNCTIONS', 'OUTFALLS', 'CONDUITS', 'XSECTIONS', 'TRANSECTS', 'LOSSES', 'TIMESERIES', 'REPORT', 'TAGS', 'MAP', 'COORDINATES', 'VERTICES', 'POLYGONS', 'SYMBOLS', 'LABELS', 'BACKDROP', 'POLLUTANTS'])
After
dict_keys(['TITLE', 'OPTIONS', 'EVAPORATION', 'RAINGAGES', 'SUBCATCHMENTS', 'SUBAREAS', 'INFILTRATION', 'JUNCTIONS', 'OUTFALLS', 'CONDUITS', 'XSECTIONS', 'LOSSES', 'TIMESERIES', 'REPORT', 'TAGS', 'MAP', 'COORDINATES', 'VERTICES', 'POLYGONS', 'SYMBOLS', 'LABELS', 'BACKDROP', 'POLLUTANTS'])

But again: you can't delete a section with the "attribute caller". This will just delete the attribute, not the section itself.

In [41]:
print('Before')
print(inp.keys())
del inp.TIMESERIES
print('After')
print(inp.keys())

Before
dict_keys(['TITLE', 'OPTIONS', 'EVAPORATION', 'RAINGAGES', 'SUBCATCHMENTS', 'SUBAREAS', 'INFILTRATION', 'JUNCTIONS', 'OUTFALLS', 'CONDUITS', 'XSECTIONS', 'LOSSES', 'TIMESERIES', 'REPORT', 'TAGS', 'MAP', 'COORDINATES', 'VERTICES', 'POLYGONS', 'SYMBOLS', 'LABELS', 'BACKDROP', 'POLLUTANTS'])
After
dict_keys(['TITLE', 'OPTIONS', 'EVAPORATION', 'RAINGAGES', 'SUBCATCHMENTS', 'SUBAREAS', 'INFILTRATION', 'JUNCTIONS', 'OUTFALLS', 'CONDUITS', 'XSECTIONS', 'LOSSES', 'TIMESERIES', 'REPORT', 'TAGS', 'MAP', 'COORDINATES', 'VERTICES', 'POLYGONS', 'SYMBOLS', 'LABELS', 'BACKDROP', 'POLLUTANTS'])

In [45]:
inp.TIMESERIES

AttributeError: 'InpData' object has no attribute 'TIMESERIES'