In [1]:
from swmm_api.report_file.report import Report

In [2]:
r = Report('report_file_1.rpt')

In [3]:
r.node_flooding_summary

,Hours_Flooded,Maximum_Rate_LPS,Time of Max_Occurrence_days hr:min,Total_Flood_Volume_10^6 ltr,Maximum_Ponded_Depth_Meters
J02,0.01,120.67,50 04:29,0.001,0.0
J04,0.03,345.44,50 04:26,0.013,0.0
J06,0.21,556.25,89 10:20,0.236,0.0
J07,0.09,1088.94,89 10:18,0.052,0.0
J08,0.13,1445.79,89 10:18,0.208,0.0
J09,0.01,1035.64,89 10:19,0.025,0.0

In [4]:
r.flow_routing_continuity

{'Dry Weather Inflow': {'Volume_hectare-m': 67.83800000000001,
  'Volume_10^6 ltr': 678.382},
 'Wet Weather Inflow': {'Volume_hectare-m': 20.094, 'Volume_10^6 ltr': 200.94},
 'Groundwater Inflow': {'Volume_hectare-m': 0.0, 'Volume_10^6 ltr': 0.0},
 'RDII Inflow': {'Volume_hectare-m': 0.0, 'Volume_10^6 ltr': 0.0},
 'External Inflow': {'Volume_hectare-m': 0.0, 'Volume_10^6 ltr': 0.0},
 'External Outflow': {'Volume_hectare-m': 87.906, 'Volume_10^6 ltr': 879.065},
 'Flooding Loss': {'Volume_hectare-m': 0.053, 'Volume_10^6 ltr': 0.535},
 'Evaporation Loss': {'Volume_hectare-m': 0.0, 'Volume_10^6 ltr': 0.0},
 'Exfiltration Loss': {'Volume_hectare-m': 0.0, 'Volume_10^6 ltr': 0.0},
 'Initial Stored Volume': {'Volume_hectare-m': 0.0, 'Volume_10^6 ltr': 0.0},
 'Final Stored Volume': {'Volume_hectare-m': 0.013000000000000001,
  'Volume_10^6 ltr': 0.128},
 'Continuity Error (%)': -0.046}

In [5]:
ols = r.outfall_loading_summary['Total_Volume_10^6 ltr'] * 1000  # mÂ³
ols = ols.to_dict()
print()

In [6]:
r.flow_classification_summary

,Adjusted_/Actual_Length,Dry,Up_Dry,Down_Dry,Sub_Crit,Sup_Crit,Up_Crit,Down_Crit,Norm_Ltd,Inlet_Ctrl
C01,1.0,0.0,0.0,0.0,1.00,0.00,0.0,0.00,1.00,0.0
C02,1.0,0.0,0.0,0.0,1.00,0.00,0.0,0.00,1.00,0.0
C03,1.0,0.0,0.0,0.0,0.97,0.03,0.0,0.00,0.04,0.0
C04,1.0,0.0,0.0,0.0,0.03,0.00,0.0,0.96,0.04,0.0
C05_Drossel_N,1.0,0.0,0.0,0.0,1.00,0.00,0.0,0.00,0.96,0.0
C06,1.0,0.0,0.0,0.0,1.00,0.00,0.0,0.00,1.00,0.0
C07,1.0,0.0,0.0,0.0,1.00,0.00,0.0,0.00,0.98,0.0
C08,1.0,0.0,0.0,0.0,1.00,0.00,0.0,0.00,1.00,0.0
C09,1.0,0.0,0.0,0.0,0.00,0.01,0.0,0.99,0.01,0.0
C10,1.0,0.0,0.0,0.0,0.00,1.00,0.0,0.00,0.00,0.0
C12,1.0,0.0,0.0,0.0,0.07,0.93,0.0,0.00,0.08,0.0

In [7]:
r.conduit_surcharge_summary

,HoursFull_Both_Ends,Hours Full_Upstream,HoursFull_Dnstream,Hours_Above Full_Normal Flow,Hours_Capacity_Limited
C02,0.01,0.01,0.30,0.01,0.01
C03,0.22,0.30,44.83,0.24,0.12
C04,0.01,0.01,97.11,0.01,0.01
C05_Drossel_N,0.44,48.28,0.46,0.01,0.17
C06,0.41,0.41,0.80,0.01,0.01
C07,0.76,0.80,0.89,1.33,0.53
C08,0.53,0.53,2.79,0.09,0.05
C09,0.18,0.18,0.79,0.01,0.01
C10,0.01,1.83,0.01,2.50,0.01
C12,0.01,248.88,0.01,0.01,0.01